@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab&display=swap');
body{
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
    height: 1120px;
    
}
.banner{
    width: 1341px;
    height: 450px;
   
    background-image: linear-gradient(to right, #1F143B , rgb(136, 136, 20));
    border-radius: 15px;
    margin-left: 200px;
    margin-top: 20px;
    display: flex;
    
}
.banner-text{
    height: 452px;
    width: 431px;
    padding: 80px 200px;
   
    
  
}
.banner-text>h1{
    color: white;
}
.banner-text>p{
    color: white;
}
.banner-text>button{
    margin-top: 10px;
    width: 130px;
    height: 34px;
    color: aliceblue;
    background-color: #01C689;
    border: none;
    border-radius: 8px;
    box-shadow: inset 0 0 0 0 rgb(107, 109, 224);
    transition: ease-out 0.5s;
    outline: none;
}
.banner-text>button:hover{
    box-shadow: inset 130px 0 0 0 rgb(114, 168, 238);
    cursor: pointer;
    color: white;
}

.fa-solid.banner-btn{
    padding-left: 20px;
   
}
.images{
    padding-top: 100px;
    height: 350px;
    width: 400px;
}

.List-transfer{
    margin-top: 90px;
    
}
.list-blogs{
    display: grid;
    grid-template-columns: repeat(4,21rem);
    gap: 20px;
    justify-content: center;
}
.images2{
    
    height: 201px;
    width: 311px;

}
.List-transfer>button{
    display: none;
    width: 130px;
    height: 34px;
    border-radius: 8px;
    color: aliceblue;
    background-color: #532174;
    border: none;
}
.List-transfer>button:hover{
    background-color: red;
}
#blogg{
    width: 100%;
    grid-area: 1/1/span 3/span 1;
    height: 265px;
    
    
}
.blog{
    margin-left: 0px;
    background-color:#1F143B;
    border-radius: 9px;
    height: 100px;
  
    

}
.live{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
    
    border-radius: 5px;
    margin-top: 25px;
    
}
.live>a>button{
    background-color: #01C689;
    color: #ffff;
    font-size: 18px;
    font-weight: 300;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    margin: 6px;
}
.live>a>button:hover{
    background-color: red;
}
.live>button{
    background-color: #01C689;
    color: #ffff;
    font-size: 18px;
    font-weight: 300;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    margin: 6px;
}
.live>button:hover{
    background-color: red;
}



.list{
    height: 362px;
    width: 312px;
    border: 1px solid #D9D9Db;
    border-radius: 10px;
    box-shadow: 1px 1.45px #D9D9Db;
    padding: 10px 15px;
}
.list-info>button{
    margin-top: 12px;
    height: 34px;
    width: 80px;
    font-size: 16px;
    background-color: #ffff;
    border: 0.8px solid #689740;
    border-radius: 6px;
}
.fa-solid.clocks{
    font-size: 20px;
    color: #1F143B;
    
}
.fixture-blog{
    height: 262px;
    width: 312px;
    border: 1px solid #D9D9Db;
    border-radius: 10px;
    box-shadow: 1px 1.45px #D9D9Db;
    padding: 10px 15px;
}
.fixture{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-content: center;
    justify-items: center;
    padding-top: 60px;
}
.fixture-blog>h2{
    padding-left: 30px;
}
.fixture-blog>p{
    padding-left: 80px;
}

footer{
    background-color: #1F143B;
    height: fit-content;
    
}
footer>h2{
    color: #ffff;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 90px;
    padding-top: 30px;
}
hr{
    width: 85%;
    border: 0.5px solid #3c3c50;
  
}
.footer-info{
    display: grid;
    grid-template-columns: repeat(6,200px);
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding-bottom: 30px;
}
h4{
    color: #ffff;
    font-size: 13px;
    font-weight: 100;
}
.social-media{
   display: grid;
   grid-template-columns: repeat(3,50px);
   justify-content: center;
   justify-items: center;
    
}
.fa-brands{
    color:aliceblue
}
/*==============================Tablet-Device=======================
==================================================================*/
@media only screen and (max-width:992px) {
   body{
     width: auto;
        
}
/*==================banner section==========*/
.banners{
    width: 100%;
    overflow: hidden;
}
.banner{
    width: 100%;
    margin: 0% 0%;
    
    
    border-radius: 0px;
    
}
.banner-text{
    padding-top: 100px;
    padding-left: 50px;
    width: 100%;
    height: 100px;
    
}

.banner-text>h1{
    font-size: 13px;
}

.banner-text>p{
    font-size: 8px;
    font-weight: 400;
}
.banner-text>button{
    margin-top: 10px;
    
}
.images {
    padding-left: 0px;
    padding-top: 0px;
    height: 450px;
    width: 100%;
}
/*=====================listing=======================*/
.List-transfer {
    margin-top: 10px;
    padding: 0%;
    width: 100%;
    overflow: hidden;
}
.list-blogs{
    grid-template-columns: repeat(2,1fr);
    width: 100%;
}
#blogg{
    width: 100%;
    grid-area: 1/1/span 1/span 2;
}
.blog {
    margin-left: 5px;
    background-color:white;
}
.live{
    width: 100%;
    grid-template-columns: repeat(3,235px);
}
.live>button {
     width: 100%;
     margin-left: 0px;
    
}
.live>a>button{
    width: 100%;
    margin-left: 0px;
}
.list>article{
    width: 100%;
}
.List-transfer>button{
    display: inline;
    width: 130px;
    height: 34px;
    border-radius: 8px;
    color: aliceblue;
    background-color: #532174;
    border: none;
}
.List-transfer>button:hover{
    background-color: red;
}
.footer-info{
    grid-template-columns: repeat(3,1fr);
}
}


 /*==================Tablet-Devices end=================
  =================================================*/  












  /*==================Mobile-Devices=================
  =================================================*/  

@media only screen and (max-width:688px) {
    body{
        width: auto;
        
    }
    /*==================banner section==========*/
    .banners{
        width: 100%;
        overflow: hidden;
    }
    .banner{
        width: 100%;
        margin: 0% 0%;
        flex-direction: column;
        
        border-radius: 0px;
        
    }
    .banner-text{
        width: 100%;
        height: 100px;
        padding:0% 0%;
        text-align: center;
    }
    .images {
        padding-left: 0px;
        
        padding-top: 81px;
        height: 269px;
        width: 100%;
}
    .banner-text>h1{
        font-size: 13px;
    }
    
    .banner-text>p{
        font-size: 8px;
        font-weight: 400;
    }
    .banner-text>button{
        margin-top: 10px;
        
    }

    /*=====================listing=======================*/
    .List-transfer {
        margin-top: 10px;
        padding: 0%;
        width: 100%;
        overflow: hidden;
    }
    .list-blogs{
        grid-template-columns: repeat(1,1fr);
        width: 100%;
    }
    #blogg{
        width: 100%;
    }
    .blog {
        margin-left: 5px;
        background-color:white;
    }
    .live{
        grid-template-columns: repeat(1,1fr);
        width: 100%;
    }
    .live>button {
        margin-left: 27px;
        
        width: 100%;
    }
    .live>a>button{
        width: 100%;
        margin-left: 27px;
    }
    .list>article{
        width: 100%;
    }
    .list {
        height: 440px;
        width: 100%;
        border: 1px solid #D9D9Db;
        box-shadow: 1px 1.45px #d9d9db;
        padding: 10px 15px;
    }
    .images2{
        height: 205px;
        width: 100%;
    }
    .list-info>button{
        width: 20%;;
    }
    h3{
        width: 100%;
    }
    .fixture-blog{
        width: 100%;
    }
footer{
    width: 100%;
    overflow: hidden;
}
.footer-info{
    grid-template-columns: repeat(1,1fr);
}
}

